.serverIcon {
  min-width: var(--serverList-width);
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.serverIcon .wrapper {
  width: 3rem;
  height: 3rem;
  border-radius: 10rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  -webkit-transition: border-radius 500ms ease-in;
  transition: border-radius 500ms ease-in;
}

.serverIcon .wrapper:hover, .serverIcon .wrapper:focus, .serverIcon .wrapper.active {
  border-radius: 1rem;
  -webkit-transition: border-radius 200ms ease;
  transition: border-radius 200ms ease;
}

.serverIcon .wrapper:hover .text, .serverIcon .wrapper:focus .text, .serverIcon .wrapper.active .text {
  color: white;
  background-color: var(--discord-colour);
  -webkit-transition: color var(--colourTransition-toAlt), background-color var(--colourTransition-toAlt);
  transition: color var(--colourTransition-toAlt), background-color var(--colourTransition-toAlt);
}

.serverIcon .wrapper:hover .iconWrapper, .serverIcon .wrapper:focus .iconWrapper, .serverIcon .wrapper.active .iconWrapper {
  background-color: var(--discord-colour);
  color: white;
  -webkit-transition: color var(--colourTransition-toAlt), background-color var(--colourTransition-toAlt);
  transition: color var(--colourTransition-toAlt), background-color var(--colourTransition-toAlt);
}

.serverIcon .text {
  width: 100%;
  height: 100%;
  background-color: #36393f;
  color: lightgrey;
  font-size: 1.1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: clip;
  -webkit-transition: color var(--colourTransition-toBase), background-color var(--colourTransition-toBase);
  transition: color var(--colourTransition-toBase), background-color var(--colourTransition-toBase);
}

.serverIcon .iconWrapper {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #36393f;
  color: lightgrey;
  -webkit-transition: color var(--colourTransition-toBase), background-color var(--colourTransition-toBase);
  transition: color var(--colourTransition-toBase), background-color var(--colourTransition-toBase);
}

.serverIcon .icon {
  width: 1.5rem;
  height: 1.5rem;
}

.serverIcon .img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.serverIcon .pill {
  width: 0.5rem;
  height: 0rem;
  position: absolute;
  left: -0.75rem;
  border-radius: 10rem;
  background-color: white;
  -webkit-transition: height 250ms ease, left 250ms ease;
  transition: height 250ms ease, left 250ms ease;
}

.serverIcon .pill.small {
  left: -0.25rem;
  height: 0.5rem;
  -webkit-transition: height 250ms ease, left 250ms ease;
  transition: height 250ms ease, left 250ms ease;
}

.serverIcon .pill.big {
  left: -0.25rem;
  height: 2.5rem;
  -webkit-transition: height 250ms ease, left 250ms ease;
  transition: height 250ms ease, left 250ms ease;
}

.serverIcon .wrapper:hover + .pill:not(.big) {
  left: -0.25rem;
  height: 1.25rem;
  -webkit-transition: height 250ms ease, left 250ms ease;
  transition: height 250ms ease, left 250ms ease;
}

.serverIcon .disable.pill {
  display: none;
}

/* Variants */
.green.serverIcon .text {
  color: #3ba55d;
}

.green.serverIcon .iconWrapper {
  color: #3ba55d;
}

.green.serverIcon .wrapper:hover .text, .green.serverIcon .wrapper:focus .text, .green.serverIcon .wrapper.active .text {
  background-color: #3ba55d;
}

.green.serverIcon .wrapper:hover .iconWrapper, .green.serverIcon .wrapper:focus .iconWrapper, .green.serverIcon .wrapper.active .iconWrapper {
  background-color: #3ba55d;
}

.discord.serverIcon .icon {
  width: 1.75rem;
  height: 1.75rem;
}
/*# sourceMappingURL=ServerIcon.css.map */