.contextMenuItem {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #a7a9ac;

  border-radius: var(--border-radius);

  .text {
    text-align: left;
    font-size: 0.85rem;
    font-weight: 600;
    white-space: nowrap;
  }

  .icon {
    $size: 1.15rem;
    width: $size;
    height: $size;
    margin-left: 0.5rem;
  }

  &:hover:not(.disabled) {
    background-color: #4752c4;
    color: white;

    .icon {
      color: white;
    }
  }
}

.active.contextMenuItem {
  .icon {
    color: #8a92e9;
  }

  &:hover:not(.disabled) {
    .icon {
      color: white;
    }
  }
}

.discord.contextMenuItem {
  color: #8a92e9;

  &:hover:not(.disabled) {
    color: white;
  }
}

.red.contextMenuItem {
  color: var(--danger-colour);

  &:hover:not(.disabled) {
    background-color: var(--danger-colour);
    color: white;
  }
}

.pink.contextMenuItem {
  .icon {
    color: #ff73fa;
  }

  &:hover:not(.disabled) {
    .icon {
      color: white;
    }
  }
}

.disabled.contextMenuItem {
  opacity: 0.5;
  cursor: default;
}
