.contextMenu {
  position: absolute;
  z-index: 200;
  padding: 0.5rem;
  min-width: 11.5rem;
  max-height: 100vh;
  background-color: #18191c;
  border-radius: var(--border-radius);
  scrollbar-width: thin;
  display: flex;
  flex-direction: column;

  .separator {
    margin: 0.25rem;
    border-bottom: 1px solid #262729;
  }
}
