.contextMenuItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #a7a9ac;
  height: 2rem;
  padding-inline: 0.5rem;
  border-radius: var(--border-radius);

  &:hover {
    background-color: var(--discord-colour);
    color: white;
  }

  .text {
    font-size: 0.85rem;
    font-weight: 600;
  }
}

.discord.contextMenuItem {
  color: var(--discord-colour);

  &:hover {
    background-color: var(--discord-colour);
    color: white;
  }
}
