.contextMenu {
  position: absolute;
  z-index: 200;
  padding: 0.5rem;
  min-width: 11.5rem;
  background-color: #18191c;
  border-radius: var(--border-radius);
  overflow: hidden;
  overflow-y: auto;

  .separator {
    margin: 0.25rem;
    border-bottom: 1px solid #262729;
  }
}
