.contextMenuItem {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #a7a9ac;

  border-radius: var(--border-radius);

  &:hover {
    background-color: var(--discord-colour);
    color: white;
  }

  .text {
    font-size: 0.85rem;
    font-weight: 600;
  }

  .icon {
    $size: 1.15rem;
    width: $size;
    height: $size;
    margin-left: 0.5rem;
  }
}

.discord.contextMenuItem {
  color: var(--discord-colour);

  &:hover {
    background-color: var(--discord-colour);
    color: white;
  }
}

.red.contextMenuItem {
  color: var(--danger-colour);

  &:hover {
    background-color: var(--danger-colour);
    color: white;
  }
}

.disabled.contextMenuItem {
  $grey: #626467;

  color: $grey;
  cursor: default;

  &:hover {
    background: none;
    color: $grey;
  }
}
