.serverSidebar {
  $bg-col: #2f3136;
  min-width: var(--sidebar-width);
  max-width: var(--sidebar-width);
  height: 100%;
  background-color: $bg-col;
  display: flex;
  flex-direction: column;

  .header {
    min-height: var(--header-height);
    width: 100%;
    position: relative;

    transition: background-color var(--colourTransition-toBase);

    &::before {
      content: "";
      position: absolute;
      top: var(--header-height);
      left: 0;
      min-width: 100%;
      height: 3px;
      background-image: linear-gradient(rgba(0, 0, 0, 0.2), transparent);
    }

    .header-details {
      width: 100%;
      height: 100%;
      padding-inline: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      position: relative;
      background-color: transparent;

      transition: background-color var(--colourTransition-toBase);

      &:hover,
      &.menu-active {
        background-color: #34373c;

        transition: background-color var(--colourTransition-toAlt);
      }

      > p {
        color: white;
        font-size: 1rem;
        font-weight: 600;
      }

      .menu-icon {
        $size: 1.05rem;
        width: $size;
        height: $size;
        margin-right: 0.125rem;
        color: #d7d7d8;
      }
    }
  }

  .headerContextMenu {
    $spacing: 0.5rem;
    position: absolute;
    top: calc(var(--header-height) + #{$spacing});
    left: $spacing;
    min-width: 14rem;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 2px;
    background-color: #18191c;
    border-radius: var(--border-radius);
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.25);
    z-index: 10;
    transform-origin: top;
    animation: fadePopIn 150ms ease;

    .separator {
      margin: 0.1rem;
      border-bottom: 1px solid #262729;
    }
  }

  .serverCTA {
    $spacing: 1rem;

    padding: $spacing;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 1px solid #3b3d42;
    position: relative;

    > .text {
      margin-block: $spacing;
      color: #d0d1d2;
      text-align: center;
      font-size: 0.85rem;
    }

    .close {
      position: absolute;
      top: calc(#{$spacing} / 1.5);
      right: $spacing;
      $size: 1.25rem;
      width: $size;
      height: $size;
      color: #b9bbbe;

      &:hover {
        color: white;
      }
    }
  }

  .channels-feed {
    height: 100%;
    padding-block: 1rem;
    overflow-y: scroll;
    scrollbar-width: thin;
    scrollbar-color: #202225 #2f3136;
  }

  .channelCategory {
    color: #8e9297;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;

    &:not(:first-child) {
      margin-top: 1rem;
    }

    .details {
      padding-left: 0.25rem;
      padding-block: 0.25rem;
      width: 100%;
      display: flex;
      align-items: center;

      &:hover {
        color: #dcddde;
      }
    }

    .expand-icon {
      $size: 0.6rem;
      width: $size;
      height: $size;
      margin-right: 0.25rem;
    }

    .name {
      text-transform: uppercase;
      font-size: 0.8rem;
      font-weight: 600;
    }

    .add-icon {
      position: absolute;
      right: 0.5rem;
      $size: 1.2rem;
      width: $size;
      height: $size;
      cursor: pointer;

      &:hover {
        color: #dcddde;

        & + .details {
          color: #dcddde;
        }
      }
    }
  }

  .channel {
    height: 2rem;
    width: calc(100% - 0.5rem);
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 0.5rem;
    margin-bottom: 0.15rem;
    padding-inline: 0.5rem;
    color: #8e9297;
    border-radius: var(--border-radius);

    &:hover,
    &.active {
      background-color: #393c42;

      & .name {
        color: white;
      }

      & .channel-icons {
        display: flex;
      }
    }

    .details {
      display: flex;
      align-items: center;
      overflow: hidden;
    }

    .type-icon {
      color: #72767d;
      margin-right: 0.4rem;
      $size: 1.25rem;
      min-width: $size;
      min-height: $size;

      &.text {
        transform: scaleY(1.15);
      }

      &.voice {
        transform: scaleY(1.05);
      }
    }

    .name {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      margin-right: 0.5rem;
      font-size: 0.95rem;
      font-weight: 600;
    }

    .channel-icons {
      display: none;
      align-items: center;
      color: #b6b8ba;

      .icon {
        box-sizing: content-box;
        $size: 1rem;
        width: $size;
        height: $size;
        padding: 0.1rem;

        &:hover {
          color: #d7d8d9;
        }
      }
    }
  }
}
